/* App.css */
.header {
  color: #ffffff;
  width: 100%;
  background-color: #333;
  padding: 0;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 100;
}

.header img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.sidebar {
  position: relative;
  top: 150px;
  bottom: 0;
  background-color: #f0f0f0;
  width: 300px;
  float: left;
  padding: 20px;
  padding-top: 0;
  height: calc(100vh - 150px);
}

.main {
  position: relative;
  top: 150px;
  float: left;
  width: 900px;
  padding-left: 20px;
  padding-top: 20px;
}

.applicationHeading, .applicationParagraph {
  display: inline-block;
  vertical-align: middle;
}

.applicationHeading {
  padding-left: 20px;
  font-size: 4rem;
}

.applicationParagraph {
  padding-left: 20px;
  margin-bottom: 0;
  padding-top: 23px;
}

.openTaskCard {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #ffffff;
  padding: 2rem;
  border: 1px solid grey;
}
